<!DOCTYPE html>
<html>
  <head>
    <title>Isomorphic Example</title>
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <br>
    <small><%- footnote -%></small>
    <script src="bundle.js"></script>
  </body>
</html>